@import 'helpers';

/// Visibility
.hide {
  display: none !important;

  @include mobile-only {
    &--xs {
      display: none !important;
    }
  }
  @include tablet-and-below {
    &--sm {
      display: none !important;
    }
  }
}

/// Text Styling
@mixin text-style($suffix: '') {
  @each $value in $font-size-list {
    &--size-#{$value}#{$suffix} {
      font-size: #{$value}px !important;
    }
  }

  @each $key, $value in $color-map {
    &--color-#{$key}#{$suffix} {
      color: $value !important;
    }
  }

  @each $value in $font-weight-list {
    &--weight-#{$value}#{$suffix} {
      font-weight: $value !important;
    }
  }

  @each $key, $value in $line-height-map {
    &--height-#{$key}#{$suffix} {
      line-height: $value !important;
    }
  }

  @each $value in $text-align-list {
    &--align-#{$value}#{$suffix} {
      text-align: $value !important;
    }
  }

  &--underline#{$suffix} {
    text-decoration: underline;
  }

  &--capitalize {
    text-transform: capitalize;
  }
}

.text {
  @include text-style;

  @include mobile-only {
    @include text-style(--xs);
  }
  @include tablet-and-below {
    @include text-style(--sm);
  }
}

/// Spacing
/// The class naming is following https://vuetifyjs.com/en/layout/spacing, in
/// addition, we added responsive modifier and use exact value instead of multiply
/// of spacer value which is more intuitive
$spacing-value-list: 0, 2, 4, 8, 12, 16, 20, 24, 28, 32, 40, 48, 64;
$spacing-property-map: (
  p: padding,
  m: margin
);
$spacing-direction-map: (
  l: left,
  r: right,
  t: top,
  b: bottom
);
$spacing-multi-direction-map: (
  x: (l, r),
  y: (t, b)
);
$spacing-multi-direction-map-list: (
  $spacing-multi-direction-map,
  (a: (x, y))
);
@mixin spacing-style($suffix: '') {
  @each $value in $spacing-value-list {
    @each $property-key, $property in $spacing-property-map {
      @each $direction-key, $direction in $spacing-direction-map {
        .#{$property-key}#{$direction-key}-#{$value}#{$suffix} {
          #{$property}-#{$direction}: #{$value}px !important;
        }
      }

      @each $direction-key-map in $spacing-multi-direction-map-list {
        @each $multi-direction-key, $direction-key-list in $direction-key-map {
          @each $direction-key in $direction-key-list {
            .#{$property-key}#{$multi-direction-key}-#{$value}#{$suffix} {
              @extend .#{$property-key}#{$direction-key}-#{$value}#{$suffix};
            }
          }
        }
      }
    }
  }
}
@include spacing-style;
@include mobile-only {
  @include spacing-style(--xs);
}
@include tablet-and-below {
  @include spacing-style(--sm);
}

$spacing-preset: (
  64: (
    x: 24,
    y: 32
  ),
);
@each $preset-value, $preset in $spacing-preset {
  @each $spacing-property-key, $spacing-property in $spacing-property-map {
    @each $multi-direction-key, $direction-keys in $spacing-multi-direction-map {
      $dynamic-spacing-value: map-get($preset, $multi-direction-key);
      $direction-keys: append($direction-keys, $multi-direction-key);
      @each $direction-key in $direction-keys {
        $class-prefix: #{'.'}#{$spacing-property-key}#{$direction-key};
        #{$class-prefix}-#{$preset-value}--dy {
          @extend #{$class-prefix}-#{$preset-value};
          @extend #{$class-prefix}-#{$dynamic-spacing-value}--xs;
        }
      }
    }
  }
}

/// Layout
.page-container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;

  @extend .px-64--dy;

  &--fluid {
    max-width: initial;
  }

  &--wide {
    max-width: 1280px;
  }
}
