@import 'variables';
@import 'mixins';

@mixin text-style {
  $font-size-list: 12, 14, 16, 18, 20, 24, 28, 32;
  @each $value in $font-size-list {
    &--size-#{$value} {
      font-size: #{$value}px;
    }
  }

  $color-list: (
    primary: color(like-green),
    secondary: color(like-brown),
    white: white,
  );
  @each $key, $value in $color-list {
    &--color-#{$key} {
      color: $value;
    }
  }

  $font-weight-list: 300 400 600;
  @each $value in $font-weight-list {
    &--weight-#{$value} {
      font-weight: $value;
    }
  }

  $line-height-map: (
    1: 1,
    '1-2': 1.2,
    '1-5': 1.5,
    '1-6': 1.6,
    '1-8': 1.8,
    2: 2
  );
  @each $key, $value in $line-height-map {
    &--height-#{$key} {
      line-height: $value;
    }
  }

  &--underline {
    text-decoration: underline;
  }
}

%text {
  @include text-style;

  &--xs {
    @include mobile-only {
      @include text-style;
    }
  }

  &--sm {
    @include tablet-only {
      @include text-style;
    }
  }
}

/*
 * Spacing
 *
 * The class naming is following https://vuetifyjs.com/en/layout/spacing, in
 * addition, we added responsive modifier and use exact value instead of multiply
 * of spacer value which is more intuitive
 */
$spacing-value-list: 0, 2, 4, 8, 12, 16, 20, 24, 28, 32, 48, 64;
$spacing-property-map: (
  p: padding,
  m: margin
);
$spacing-direction-map: (
  l: left,
  r: right,
  t: top,
  b: bottom
);
$spacing-multi-direction-map-list: (
  (
    x: (l, r),
    y: (t, b)
  ),
  (a: (x, y))
);
@mixin spacing-style($suffix: '') {
  @each $value in $spacing-value-list {
    @each $property-key, $property in $spacing-property-map {
      @each $direction-key, $direction in $spacing-direction-map {
        .#{$property-key}#{$direction-key}-#{$value}#{$suffix} {
          #{$property}-#{$direction}: #{$value}px !important;
        }
      }

      @each $direction-key-map in $spacing-multi-direction-map-list {
        @each $multi-direction-key, $direction-key-list in $direction-key-map {
          @each $direction-key in $direction-key-list {
            .#{$property-key}#{$multi-direction-key}-#{$value}#{$suffix} {
              @extend .#{$property-key}#{$direction-key}-#{$value}#{$suffix};
            }
          }
        }
      }
    }
  }
}
@include spacing-style;
@include mobile-only {
  @include spacing-style(--xs);
}
@include tablet-and-below {
  @include spacing-style(--sm);
}
