/// Buttons

$class-style-map: (
  primary: (
    bg-color: color(like-green),
    bg-image: linear-gradient(to right, gradient-colors(primary)),
  ),
  secondary: (
    bg-color: color(like-brown),
    bg-image: linear-gradient(to right, gradient-colors(secondary))
  ),
  likecoin: (
    color: color(like-green),
    bg-color: color(like-cyan),
    bg-image: $gradient-likecoin
  ),
  gray-a: (
    color: color(gray-a),
    bg-color: color(gray-a),
  ),
  green: (
    color: color(white),
    bg-color: color(like-green),
  )
);

.btn--likecoin {
  min-height: 42px;

  text-transform: none;

  font-size: 18px;
  font-weight: 400;

  @each $class, $config in $class-style-map {
    $bg-color: map-get($config, bg-color);
    $bg-image: map-get($config, bg-image);
    $color: map-get($config, color);
    @if not $color {
      $color: white;
    }

    &.#{$class} {
      color: $color !important;
      background-color: $bg-color !important;

      &:not(.btn--solid) {
        background-image: $bg-image !important;
      }
    }

    @at-root .#{$class}--text {
      @at-root &#{&} {
        color: $bg-color !important;
      }
    }
  }

  &.btn--small {
    min-height: 0;

    font-size: 12px;
  }

  &.btn--disabled.btn--outline:not(.btn--icon):not(.btn--flat) {
    background-color: transparent !important;
  }

  &.btn--icon {
    svg {
      width: 24px;
      height: 24px;

      fill: currentColor;
    }

    &.btn--large {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  .btn__content {
    min-height: inherit;
  }

  .icon {
    & + * {
      margin-left: 8px;
    }
  }
}

.input-text--likecoin,
.checkbox--likecoin {
  a {
    text-decoration: underline;

    color: currentColor;

    &:hover {
      color: currentColor;
    }
  }
}

.input-text--likecoin {
  > .input-group__input,
  > .input-group__selections {
    margin-bottom: 8px;
  }

  label + .input-group__input {
    margin-top: 8px;
  }

  input {
    font-size: 18px;
  }

  &.error--text {
    .input-group__details {
      overflow: visible;
      justify-content: flex-end;

      .input-group__error {
        position: absolute;
        z-index: 1;
        top: 11px;

        display: block;

        padding: 8px 16px;

        color: #FFF;
        border-radius: 4px;
        background-color: #E83830;

        font-size: 14px;

        &:before {
          position: absolute;
          top: -10px;
          left: calc(50% - 10px);

          content: " ";

          border-width: 0 10px 10px 10px;
          border-style: solid;
          border-color: transparent transparent #E83830 transparent;
        }
      }
    }
  }

  &.theme--light {
    label,
    input,
    .input-group__append-icon, {
      color: #FFF !important;
    }

    .input-group__input {
      .input-group__selections {
        .input-group__selections__comma {
          color: #FFF !important;
        }
      }

      input {
        &::placeholder {
          color: rgba(255, 255, 255, 0.5) !important;
        }
      }
    }

    &:not(.error--text) {
      .input-group__details {
        &:before {
          background-color: #FFF !important;
        }
        &:after {
          color: #FFF;
        }
        .input-group__hint {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}


.chip--likecoin {
  border-radius: 0;

  font-size: 14px;

  .chip__content {
    padding-right: 0;
  }

  &.primary {
    background-image: linear-gradient(to right, gradient-colors(primary));
  }

  &.secondary {
    background-image: linear-gradient(to right, gradient-colors(secondary));

    .chip__content {
      color: #FFF;
    }
  }
}


.checkbox--likecoin {
  &.light--text {
    > * {
      color: #FFF !important;
    }

    .input-group__input {
      i {
        color: #28646e !important;
      }

      &::before {
        position: absolute;
        z-index: 0;
        top: 7px;
        left: 4px;

        width: 16px;
        height: 16px;

        content: '';

        border-radius: 2px;
        background-color: #FFF;
      }

      .icon--selection-control:not(.icon--checkbox) {
        display: none;
      }
    }
  }
}

.snackbar--likecoin {
  z-index: 10;

  .snack__wrapper {
    width: 100%;
  }

  &.center {
    .snack__content {
      justify-content: center;
    }
  }

  .warning {
    background-color: #E83830 !important;
  }

  .green {
    background-color: #28646E !important;
  }
}


/// Dialogs
.dialog--likecoin {
  h1,
  h2 {
    @extend .text--color-primary, .text--weight-400;
  }

  h1 {
    @extend .text--size-32, .text--size-24--sm, .text--align-center;
  }

  h2 {
    @extend .text--size-16;

    &:not(:first-child) {
      @extend .mt-24;
    }
  }

  p {
    @extend .text--size-12, .mt-16, .mb-8;
  }
}
