@import 'variables';

/// Variables Getters

@function color($name) {
  @return map-get($colors, $name);
}

$color-map: (
  primary: color(like-green),
  secondary: color(like-brown),
  white: white,
);
@mixin color-modifiers {
  @each $key, $value in $color-map {
    &--#{$key} {
      color: $value;
    }
  }
}

$gradient-colors: (
  primary: (#3D286E, color(like-green)),
  secondary: (#3D286E, color(like-brown)),
);
@function gradient-colors($name) {
  @return map-get($gradient-colors, $name);
}

@function breakpoint($type) {
  @return map-get($breakpoints, $type);
}

/// Responsive

@mixin mobile-only {
  @media only screen and (max-width: breakpoint(xs)) {
    @content;
  }
}

@mixin tablet-only {
  @media only screen and (min-width: breakpoint(xs) + 1px) and (max-width: breakpoint(sm)) {
    @content;
  }
}

@mixin tablet-and-below {
  @media only screen and (max-width: breakpoint(sm)) {
    @content;
  }
}

@mixin tablet-and-up {
  @media only screen and (min-width: breakpoint(xs) + 1px) {
    @content;
  }
}

@mixin desktop-only {
  @media only screen and (min-width: breakpoint(sm) + 1px) and (max-width: breakpoint(md)) {
    @content;
  }
}

@mixin desktop-and-up {
  @media only screen and (min-width: breakpoint(sm) + 1px) {
    @content;
  }
}
