/// Colors

$colors: (
  like-green: #28646E,
  like-brown: #6A282E,
  like-light-brown: #8B572A,
  like-cyan: #D0F0F0,
  gray-4a: #4A4A4A,
  gray-a: #AAA,
  white: #FFF
);

$gradient-likecoin: linear-gradient(292deg, map-get($colors, like-cyan), #F0E6B4);

/// Grid System

$breakpoints: (
  xs: 600px,
  sm: 960px,
  md: 1264px,
);

/// Text styling

$font-size-list: 12, 14, 16, 18, 20, 24, 28, 32, 44, 48, 52, 64;
$font-weight-list: 300 400 600;
$line-height-map: (
  1: 1,
  '1-2': 1.2,
  '1-3': 1.3,
  '1-5': 1.5,
  '1-6': 1.6,
  '1-8': 1.8,
  2: 2
);

$text-align-list: left center right;
