/* Colors */

$colors: (
  like-green: #2D6472,
  like-brown: #6A282E,
);

@function color($name) {
  @return map-get($colors, $name);
}

$gradient-colors: (
  primary: (#3D286E, color(like-green)),
  secondary: (#3D286E, color(like-brown)),
);

@function gradient-colors($name) {
  @return map-get($gradient-colors, $name);
}

$gradient-likecoin: linear-gradient(292deg, #D0F0F0, #F0E6B4);

/* Grid System */

$breakpoints: (
  xs: 600px,
  sm: 960px,
  md: 1264px,
);

@function breakpoint($type) {
  @return map-get($breakpoints, $type);
}

/* Layout system */
$responsive-inset: (
  0: (
    x: (
      xs: 24px,
      md: 64px
    ),
    y: (
      xs: 32px,
      md: 64px
    )
  )
);

@function get-responsive-inset($keys...) {
  @return map-deep-get($responsive-inset, $keys...);
}
