@import 'node_modules/vuetify/dist/vuetify.min.css';

@import 'helpers';
@import 'classes';
@import 'components';

html,
body {
  height: 100vh;
  margin: 0;

  letter-spacing: .5px;

  color: color(gray-4a);
  background-color: color(white);

  font-family: 'Open Sans', 'Source Sans Pro', Arial, sans-serif;
}

a {
  transition: color .25s ease-out;
  text-decoration: none;

  color: color(like-green);

  /// Link styling
  /// - [default]        Green text
  /// - .link-secondary  Brown text
  /// - .link-dark       White text
  $link-style: (
    default: (
      class: '',
      color: color(like-green),
    ),
    secondary: (
      class: 'secondary',
      color: color(like-brown),
    ),
    dark: (
      class: 'dark',
      color: white,
    ),
  );

  @each $key, $value in $link-style {
    $class: map-get($value, class);
    @if $key != default {
      $class: '.link--' + $class;
    }
    $color: map-get($value, color);

    &#{$class} {
      color: $color;

      &:hover {
        color: darken($color, 15);
      }
    }
  }
}

svg {
  fill: currentColor;
}

.application--wrap {
  background-color: color(white);
}

/// Global page transition
/// Ref: https://nuxtjs.org/api/pages-transition
.page- {
  &enter-active,
  &leave-active {
    transition: opacity 0.5s ease;
  }
  &enter,
  &leave-to {
    opacity: 0 !important;
  }
}

.collapsed- {
  &enter-active,
  &leave-active {
    overflow-y: hidden !important;

    max-height: 100vh !important;

    transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: opacity max-width;
  }
  &enter,
  &leave-to {
    max-height: 0 !important;

    opacity: 0 !important;
  }
}

/// Override Vuetify
.application {
  font-family: inherit !important;

  &.theme--light {
    color: inherit !important;
    background: inherit !important;

    .card {
      color: inherit !important;
    }
  }
}

/// Fix weird overlay transition in nested <v-dialog/>
.overlay--active {
  @keyframes dialog-overlay-fade-in {
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  animation: dialog-overlay-fade-in 0.75s ease 0s 1 both;
}
