@import 'node_modules/vuetify/dist/vuetify.min.css';

@import '_variables';
@import '_components';

html,
body {
  font-family: 'Source Sans Pro', Arial, sans-serif;

  height: 100vh;
  margin: 0;

  letter-spacing: .5px;

  color: #000;
  background-color: #FFF;
}

a {
  transition: color .25s ease-out;
  text-decoration: none;

  color: color(like-green);

  &:hover {
    color: darken(color(like-green), 10);
  }
}

svg {
  fill: currentColor;
}
