@import 'node_modules/vuetify/dist/vuetify.min.css';

@import 'helpers';
@import 'classes';
@import 'components';

html,
body {
  height: 100vh;
  margin: 0;

  letter-spacing: .5px;

  color: color(gray-4a);
  background-color: white;

  font-family: 'Source Sans Pro', Arial, sans-serif;
}

a {
  transition: color .25s ease-out;
  text-decoration: none;

  color: color(like-green);

  /// Link styling
  /// - [default]        Green text
  /// - .link-secondary  Brown text
  /// - .link-dark       White text
  $link-style: (
    default: (
      class: '',
      color: color(like-green),
    ),
    secondary: (
      class: 'secondary',
      color: color(like-brown),
    ),
    dark: (
      class: 'dark',
      color: white,
    ),
  );

  @each $key, $value in $link-style {
    $class: map-get($value, class);
    @if $key != default {
      $class: '.link--' + $class;
    }
    $color: map-get($value, color);

    &#{$class} {
      color: $color;

      &:hover {
        color: darken($color, 15);
      }
    }
  }
}

svg {
  fill: currentColor;
}

/// Global page transition
/// Ref: https://nuxtjs.org/api/pages-transition
.page- {
  &enter-active,
  &leave-active {
    transition: opacity 0.5s ease;
  }
  &enter,
  &leave-to {
    opacity: 0;
  }
}

/// Override Vuetify
.application {
  font-family: inherit !important;

  &.theme--light {
    color: inherit !important;
    background: inherit !important;
  }
}
